# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
# *

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.py
!.gitignore
!*.md
!/www/images
!.travis.yml
!/Home-assistant-google-home-travis.json
!/automations
!/automations/shellies/
!/automations/lights/
!/automations/buttons/
!/scripts
!/packages


!/shell_scripts
!/gitpull.sh
!/www/
!www/jens.jpg
!www/olga.jpg
!www/alarm.mp3

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
Home-assistant-google-home.json
.vscode
.spotify-token-cache
.HA_VERSION
.shopping_list.json

# Logs
logs
*.log
# Python cache
__pycache__
*.pyc
